@layout LoginLayout
@page "/register"
@inject NavigationManager Navigation

<div class="flex justify-center p-4">
    <div class="grid w-[60%]">
        <p class="text-center mt-4">
            <span class="font-bold text-[24px] mx-1">SkyRadio</span>
            <span class="font-bold text-[24px] mx-1">|</span>
            <span class="font-medium text-[20px] mx-1">Register</span>
        </p>
        <form class="mt-3">
            <input class="my-3 border border-b-[3px] p-3 w-full rounded-[5px] focus:outline-none focus:border focus:border-b-[3px] focus:border-b-sky-500" placeholder="Usernam" name="Username" type="text" />
            <input class="my-3 border border-b-[3px] p-3 w-full rounded-[5px] focus:outline-none focus:border focus:border-b-[3px] focus:border-b-sky-500" placeholder="Email" name="Email" type="email" />
            <input class="my-3 border border-b-[3px] p-3 w-full rounded-[5px] focus:outline-none focus:border focus:border-b-[3px] focus:border-b-sky-500" placeholder="Password" name="password" type="password" />
            <input class="my-3 border border-b-[3px] p-3 w-full rounded-[5px] focus:outline-none focus:border focus:border-b-[3px] focus:border-b-sky-500" placeholder="Confirm password" name="Confirmpassword" type="password" />
            <input class="my-3 border p-3 w-full rounded-[5px] text-white font-medium bg-[#F5A700]" type="submit" value="Register" />
        </form>
        <p class="mt-3 text-center">
            <span class="font-medium mx-1">I have an account ?</span>
            <span class="font-medium text-[#F5A700] mx-1 cursor-pointer" @onclick="@(() => Navigation.NavigateTo("/login"))">login here</span>
        </p>
    </div>
</div>
