@inherits LayoutComponentBase

<div class="grid grid-cols-2 p-[6%] bg-[#F5A700] h-[100%]">
    <div class="bg-white h-full">
        @Body
    </div>
    <div class="h-full">
        <img src="img/ban1.jpg" class="h-full w-full"/>
    </div>
</div>
